<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/global.css" />
    <title>Agência DevHouse</title>
</head>
<body>
    <header>
        <h1>DH News</h1>
    </header>
    <h2 >Postado em 02/03/2021</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem, sit quos quidem similique tenetur at enim ipsa laboriosam magni soluta adipisci incidunt consectetur possimus ratione saepe cupiditate recusandae, architecto eveniet? Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum, quis id. Itaque, a minima! Veniam soluta repudiandae consequatur praesentium ipsam minus quos corrupti beatae, expedita amet eaque corporis, magni esse. Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, ex. Amet sit, soluta ullam tempora laborum porro quod eaque rerum exercitationem consequatur iure earum distinctio, laboriosam necessitatibus delectus eos itaque!</p>
    <div><img src="img/destaque.webp" alt=""/></div>
    <h1>Pariatur architectu</h1>
    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit voluptatibus sed eaque beatae neque reprehenderit dolorum voluptate consectetur rerum aliquid temporibus, suscipit iusto cupiditate. Dicta similique ad sint saepe exercitationem!</p>
    <ol>
        <li>primeiro item</li>
        <li>segundo item</li>
        <li>terceiro item</li>
    </ol>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi in dolor est dolorem nostrum deserunt ullam, fugiat et aliquid <b> aqui texto negrito </b>cupiditate facere? Autem repellat vitae a, placeat dignissimos ratione doloribus corrupti.</p>
    <h1>Numquantum totam</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil nostrum dolores accusantium nam omnis. Quibusdam voluptate, voluptatibus nesciunt voluptatem explicabo deserunt eos provident temporibus magni dolore fugiat illo laborum nemo!    </p>

    <hr/>
    <footer >
    <a href="http://www.facebook.com"><img class="icon-social" src="img/facebook.svg" ></a>
    <a href="http://www.instagram.com"><img class="icon-social" src="img/instagram.svg"></a>
    <a href="http://www.linkedin.com"><img class="icon-social" src="img/linkedin.svg"></a>
    <a href="http://www.youtube.com"><img class="icon-social" src="img/youtube.svg"></a>
    </footer>
</body>
</html>