<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/global.css" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

    <title>Home | Agência DevHouse</title>
</head>
<body>
    <header>
        <img src="img/logo.png" alt="Agencia - devHouse" title="Logo Agencia - devHouse" id="logo"/>
        <nav class="menu">
            <a href="">Home</a>
            <a href="">Produtos</a>
            <a href="">Depoimentos</a>
            <a href="">Blog</a>
        </nav>
        <div class="atendimento">
            <a href="tel:+1140028922">+00 123 456 789</a>
            <button>Contact Us</button>
        </div>
    </header>
    <div class="dobra1">
        <h1><br>Good design meets</br><br>great user experience</br></h1>
        <h2>For everyone, from beginners to experts</h2>
        <div class"CTAS">
            <button class="Botao1">Buy Digits</button>
            <button class="Botao2">See the Features</button>
        </div>
        <img src="img/banner.png" alt="img-principal" title="Ilustração de Mulher Segurando celular" id="img-principal"/>
    </div>


</body>
</html>