
header{
    display: flex;
    justify-content: space-around;
    height: 80px;
    align-items: center;
    color: #1E266D;
    font-size: 16px;
    line-height: 80px;
    font-family: Roboto;
    text-decoration: none;
}

.menu a{
    text-decoration: none;
    margin-left: 20px;
}
.atendimento button{
    background-color: #3751FF;
    border-radius: 20px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border-color: #3751FF;
    padding: 10px;
    cursor: pointer;
    padding-left: 30px;
    padding-right: 30px;
}

.atendimento a{
    text-decoration: none;
    padding-right: 50px;
    color: #1E266D;
    font-family: Roboto;
}
.dobra1{
    font-family: Roboto;
    color: #1E266D;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dobra1 h1{
    font-size: 56px;
    line-height: 58px;
    align-items: center;
}

.dobra1 h2{
    font-size: 18px;
    line-height: 27px;  
}
.Botao1{
    background-color: #3751FF;
    border-radius: 20px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border-color: #3751FF;
    padding: 10px;
    cursor: pointer;
    padding-left: 30px;
    padding-right: 30px;
}

.Botao2{
    border-radius: 20px;
    color: #1E266D;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    cursor: pointer;
    padding-left: 30px;
    padding-right: 30px;
}